@media (min-width: #{map-get($grid-breakpoints, 'xs')}) {

	.content {
		padding: 1.5rem;

		h3 {
			font-weight: bold;
		}

		.text {
	
			&__column {
				margin-bottom: 3rem;
			}

		}

		.images {
			padding: .5vw;
			margin: 0 0 3rem;
			font-size: 0;
			display: -ms-flexbox;
			-ms-flex-wrap: wrap;
			-ms-flex-direction: column;
			-webkit-flex-flow: row wrap; 
			flex-flow: row wrap; 
			display: -webkit-box;
			display: flex;
			//justify-content: center;
			background-color: #ddd;
			&__column { 
				flex: auto; 
				max-width: 33.3%; 
				//max-width: calc(100% / 5); 
				//margin: .5vw; 
				//padding: .5vw;
				box-sizing: border-box;
				background-color: #eee;
				img {
					width: 100%; 
					height: auto;
					border: 1px solid #ccc;
					align-items: center;
				}
			}

			&__column--featured {
				background-color: #ffefd5;
			}

		}

	}
}

