@media (min-width: #{map-get($grid-breakpoints, 'md')}) {

	.header {
		
		position: fixed;
		width: 100%;
    	z-index: 1;

		&__list {
			list-style: none;
			display: flex;
			width: 100%;
			border-bottom: 1px solid #ccc;
		    margin: 0 0 1.5rem 0;
		    padding: 0;
		}

		&__item {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: auto;
			text-align: center;
			a {
				color: #666;
			    display: block;
			    padding: 1rem 0;
			    text-decoration: none;
			    border-right: 1px solid #ccc;
			    background-color: #eee;
			    &:hover {
			    	color: #000;
			    	background: #fff;
			    };
			}
			&:last-child {
				a {
					border-width: 0;
				}
		    }
		}
	}

}